body {
    background : rgb(32, 74, 114);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    padding : 0;
}
h1 {
    background: black;
    color : red;
    padding : 20px;
}
h2 {
    color : blue;
    padding : 20px;
}
button {
    background: grey;
    border: none;
    color: white;
    border-radius: 25px;
    padding : 20px;
}
ul {
    padding : 0;
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 20px;
    width: 100px;
}
p {
    padding : 20px;
}
header {
    background: black;
    padding : 20px;
}
section {
    background: white;
    color: blue;
    padding : 20px;
}
footer {
    background: black;
    padding : 20px;
}
.first-section ul li {
    background: red;
    padding: 0;
    
}
.second-section {
    background: pink;
}